<div class="container mx-auto px-4 py-8">
  <div class="max-w-md mx-auto bg-white rounded-lg shadow-xl overflow-hidden">
    <div class="md:flex">
      <div class="w-full px-6 py-8">
        <h2 class="text-2xl font-semibold text-gray-800 text-center">Editar Cuenta</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }, html: { method: :put, class: "mt-8" }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="mb-4">
            <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div class="mb-4">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="mb-4">
            <%= f.label :password, class: "block text-gray-700 text-sm font-bold mb-2" %>
            <em class="text-gray-600 text-xs">(Dejar en blanco si no quieres cambiarla)</em>
            <%= f.password_field :password, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
            <% if @minimum_password_length %>
              <p class="text-gray-600 text-xs mt-1"><%= @minimum_password_length %> caracteres mínimo</p>
            <% end %>
          </div>

          <div class="mb-6">
            <%= f.label :password_confirmation, class: "block text-gray-700 text-sm font-bold mb-2" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
          </div>

          <div class="mb-6">
            <%= f.label :current_password, class: "block text-gray-700 text-sm font-bold mb-2" %>
            <%= f.password_field :current_password, autocomplete: "current-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
            <p class="text-gray-600 text-xs mt-1">Necesitamos tu contraseña actual para confirmar los cambios</p>
          </div>

          <div class="flex items-center justify-between">
            <%= f.submit "Actualizar", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
          </div>
        <% end %>

        <div class="mt-8">
          <h3 class="text-lg font-semibold text-gray-800">Cancelar mi cuenta</h3>
          <p class="mt-2 text-gray-700">¿No estás contento?</p>
          <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro?" }, method: :delete, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
        </div>

        <%= link_to "Volver", :back, class: "inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800 mt-4" %>
      </div>
    </div>
  </div>
</div>
