<div class="container mx-auto px-4 py-8">
  <div class="max-w-md mx-auto bg-white rounded-lg shadow-xl overflow-hidden">
    <div class="md:flex">
      <div class="w-full px-6 py-8">
        <h2 class="text-2xl font-semibold text-gray-800 text-center">Cambiar tu contraseña</h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "mt-8" }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>

          <div class="mb-4">
            <%= f.label :password, "Nueva contraseña", class: "block text-gray-700 text-sm font-bold mb-2" %>
            <% if @minimum_password_length %>
              <em class="text-gray-600 text-xs">(<%= @minimum_password_length %> caracteres mínimo)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
          </div>

          <div class="mb-6">
            <%= f.label :password_confirmation, "Confirmar nueva contraseña", class: "block text-gray-700 text-sm font-bold mb-2" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
          </div>

          <div class="flex items-center justify-between">
            <%= f.submit "Cambiar mi contraseña", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
            <%= render "devise/shared/links" %>
          </div>
        <% end %>

        <div class="mt-4 text-center">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
