<%# Shared form for new and edit views %>
<%= form_with(model: patient, local: true) do |form| %>
  <div class="shadow overflow-hidden sm:rounded-md">
    <div class="px-4 py-5 bg-white sm:p-6">
      <div class="grid grid-cols-6 gap-6">
        <div class="col-span-6 sm:col-span-3">
          <%= form.label :name, "Nombre Completo", class: "block text-sm font-medium text-gray-700" %>
          <%= form.text_field :name, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
        </div>

        <div class="col-span-6 sm:col-span-3">
          <%= form.label :dob, "Fecha de Nacimiento", class: "block text-sm font-medium text-gray-700" %>
          <%= form.date_field :dob, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
        </div>

        <div class="col-span-6 sm:col-span-3">
          <%= form.label :email, class: "block text-sm font-medium text-gray-700" %>
          <%= form.email_field :email, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
        </div>

        <div class="col-span-6 sm:col-span-3">
          <%= form.label :phone, "Teléfono", class: "block text-sm font-medium text-gray-700" %>
          <%= form.text_field :phone, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
        </div>

        <div class="col-span-6">
          <%= form.label :address, "Dirección", class: "block text-sm font-medium text-gray-700" %>
          <%= form.text_area :address, rows: "3", class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
        </div>

        <div class="col-span-6 sm:col-span-3">
          <%= form.label :insurance_policy, "Póliza de Seguro", class: "block text-sm font-medium text-gray-700" %>
          <%= form.text_field :insurance_policy, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
        </div>
      </div>
    </div>
    <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
      <%= form.submit "Guardar", class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
    </div>
  </div>
<% end %>
